body{
    background-image: url("rymnden.png");
    color:black;

}

h1 {
    font-size: 100px;
    color: white;
}

h2 {
    font-size: 25px;
    font-style: bold;
    display: flex;
    justify-content: center;
    
}

.container2 {
    font-size: 20px;
}

.container3{
    border-style: solid;
    border-width: 2px;
    border-color: #343a40;
    background-image: url("Repeat.jpg");
}

.title {
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}

.list {
    border-width: 2px;
    border-style: solid;
    background-color:darkgreen;
}